<h1 class="loginHeader">Find your dream team</h1>
<p class="loginText">Find and meet entrepreneurs, professionals, and innovators near you.</p>

<%= render :partial => 'login_form' %>

<p>New to Foundr?  Sign up</p>
<p class="signup"><%= link_to "Here", :action => "signup", :controller => "roles" %></p>

