<h1 class="login-header">Find your dream team</h1>
<p class="login-text">Find and meet entrepreneurs, professionals, and innovators near you.</p>

<h3>Sign in to Foundr</h3>
<%= render :partial => 'login_form' %>

<p>New to Foundr?  Sign up
<%= link_to "here", :action => "signup", :controller => "roles" %>
</p>

