<p id="notice"><%= notice %></p>

<!-- TODO profile picture -->

<div class="show-info-basic">
	<div class="show-name">
		<p class="show-info">
		  <%= @role.name %>
		</p>
	</div>

	<div class="show-distance">
		<p class="show-info">
		  <!-- TODO add real value -->
		  (distance)
		</p>
	</div>

	<div class="show-email">
		  <p class="show-info">
		  	<!-- TODO add real value -->
		  	(email)
		  </p>
	</div>

	<div class="show-ambitions">
		<p>
		  <!-- TODO add real value -->
			<strong>Ambitions:</strong>
		  <p class="show-info">
		  	(ambitions)
		  </p>
		</p>
	</div>

	<div class="show-skills">
		<p>
			<strong>Skills:</strong>
		  <!-- TODO add real value -->
		  <p class="show-info">
		  	(skills)
		  </p>
		</p>
	</div>

</div>


<div class="show-info-descriptive">

	<div class="show-headline">
		<p>
		  <!-- TODO add real value -->
		  <h4 class="show-headline">
		  	(headline)
		  </h4>
		</p>
	</div>

	<div class="show-about">
		<p>
		  <!-- TODO add real value -->
		  <p class="show-info">
		  	(about)
		  </p>
		</p>
	</div>

</div>