<h1 class="login-header">Find your dream team</h1>
<p class="login-text">Find and meet entrepreneurs, professionals, and innovators near you.</p>

<h3 class="signup-header">Sign up for Foundr</h3>

<%= render 'form', :url => { :action => :signup} %>

<a href="https://twitter.com/foundrapp" class="twitter-follow-button" data-show-count="false">Follow @foundrapp</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
