<div class="nycBack">
	<div class="container">
		<h1 class="login-header">Find your dream team</h1>
			<p class="login-text">Find and meet entrepreneurs, professionals, and innovators near you.</p>
			<h3 class="signup-header">Sign up for Foundr</h3>
			<%= render 'form', :url => role_signup_path %>

</div>
</div>
